In [3]:
import requests
import pandas as pd

ciudad = 'rada tilly'
pais = 'argentina'

buscador = 'https://api.api-ninjas.com/v1/geocoding?city=' + ciudad + '&country=' + pais

direccion = requests.get(buscador, headers={'X-Api-Key': 'YO3DOw3APQguBKsqQq0nMA==acw96vJrBQsSnpeG'})

direccion.text

'[{"name": "Municipio de Rada Tilly", "latitude": -45.925919, "longitude": -67.5533438, "country": "AR", "state": "Chubut Province"}]'

In [8]:
direccion_dict = direccion.json()
direccion_pd = pd.DataFrame.from_dict(direccion_dict)

direccion_pd.iloc[0,1]

-45.925919

In [28]:
fechaStart = '2024-03-09'
fechafin = '2024-03-10'
#clima = 'https://api.open-meteo.com/v1/forecast?latitude=' + str(direccion_pd.iloc[0,1]) + '&longitude=' + str(direccion_pd.iloc[0,2]) + '&hourly=temperature_2m,wind_speed_10m&start_date=' + fechaStart + '&end_date=' + fechafin
clima = 'https://api.open-meteo.com/v1/forecast?latitude=' + str(direccion_pd.iloc[0,1]) + '&longitude=' + str(direccion_pd.iloc[0,2]) + '&hourly=temperature_2m,precipitation_probability,surface_pressure,wind_speed_10m&forecast_days=10'
clima

'https://api.open-meteo.com/v1/forecast?latitude=-45.925919&longitude=-67.5533438&hourly=temperature_2m,precipitation_probability,surface_pressure,wind_speed_10m&forecast_days=10'

In [29]:
response = requests.get(clima)
response_dict = response.json()
new = pd.DataFrame.from_dict(response_dict['hourly'])

In [30]:
new

,time,temperature_2m,precipitation_probability,surface_pressure,wind_speed_10m
0,2024-03-11T00:00,19.6,0.0,1002.3,29.6
1,2024-03-11T01:00,18.6,0.0,1002.9,30.0
2,2024-03-11T02:00,17.8,0.0,1002.9,28.6
3,2024-03-11T03:00,17.0,0.0,1003.5,30.4
4,2024-03-11T04:00,16.4,0.0,1003.8,31.0
...,...,...,...,...,...
235,2024-03-20T19:00,11.4,NaN,991.2,25.8
236,2024-03-20T20:00,11.8,NaN,991.7,29.9
237,2024-03-20T21:00,12.2,NaN,992.4,28.1
238,2024-03-20T22:00,12.6,NaN,993.4,15.9
239,2024-03-20T23:00,13.0,NaN,994.6,10.1